.wy-nav-content {
    max-width: 100%;
}

.wy-nav-top {
    background-color: #107f84 !important;
}

.wy-side-nav-search {
    border-right: 1px solid #e1e4e5;
}

.wy-side-nav-search input[type="text"] {
    border-color: #e1e4e5;
}